language: python
matrix:
    include:
        - os: osx
          language: generic
before_install:
  - brew unlink python
  - brew update
  - brew install python2
  - virtualenv venv -p python2
  - source venv/bin/activate
install:
  - pip2 install numpy
  - pip2 install -r requirements.txt
  - pip2 install tox
  - pip2 install coverage
  - pip2 install sphinx
before_script:
  - export OMP_NUM_THREADS=1
  - export MPLBACKEND="Agg"
  # - mkdir $HOME/.matplotlib
  # - touch $HOME/.matplotlib/matplotlibrc
  # Qt4Agg
  # - echo 'backend= Agg' >> $HOME/.matplotlib/matplotlibrc
script:
  - make test
  - make test-all
  - make coverage
  - make docs
notifications:
  email:
    recipients:
      - tomas.stolker@phys.ethz.ch
    on_success: always
    on_failure: always