language: python

dist: xenial

python:
  - 3.6
  - 3.7

env:
  - NUMBA_DISABLE_JIT=1
  # - COVERALLS_PARALLEL=true

before_install:
  - sudo apt-get install ncompress

install:
  - pip install -r requirements.txt
  - pip install pytest-cov
  - pip install python-coveralls
  # - pip install coveralls
  - pip install sphinx
  - pip install sphinx-rtd-theme

script:
  - make docs
  - make test

after_success:
  - coveralls

# notifications:
#   - webhooks: https://coveralls.io/webhook
#   - email: false
