include LICENSE
include Makefile
include README.rst
include requirements.txt
include tox.ini
include docs/*
include docs/_static/css/*
include docs/_static/fonts/*
include docs/_static/images/*
include docs/_static/img/*
include docs/_theme/klink/*
include test/*
include PynPoint/data/*