include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include Makefile
include docs/*
include docs/_static/css/*
include docs/_static/font/*
include docs/_static/js/*
include docs/_theme/sphinx_rtd_theme/*
include test/*
include test/test_data/*
include PynPoint/data/*