six ~= 1.12
configparser ~= 3.5
h5py ~= 2.8
numpy ~= 1.15
numba ~= 0.40
scipy ~= 1.1
astropy ~= 2.0
photutils ~= 0.4
scikit-image ~= 0.14
scikit-learn ~= 0.20
opencv-python ~= 3.4
statsmodels ~= 0.9
PyWavelets ~= 1.0
matplotlib ~= 2.2
emcee ~= 2.2
ephem == 3.7.6.0